html{
    font-size: 16px;

}

body{
    background: #FFF8F0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color:#55206D;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: League Spartan;
    color: #190D37;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    text-align: center;

}

h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #000000;
    text-transform: uppercase;

}

h4 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
}
.bigtext {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

#hero-section{
    display: flex;
    max-width: 1158.69px;
    margin: 0 auto;
}

#hero-text-section{
    width: 50%;
    padding: 32px 20px 32px 20px;
    
}

#hero-image-section{
    width: 50%;
}

#hero-image{
    width: 100%;

}

.smalltext{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
}

.link-to-project{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #6A87A3;
    text-decoration: none;
}

.link-to-project:hover{
    text-decoration: underline;
}
#phone-ico {
    width: 12px;
    top: 3px; 
    position: relative;

}

#atpic{
    width: 10px;
    top: 50px; 
    position: relative;
}

#hi-and-name{
    margin-top: 20px;
}

#contact-button{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    background-color: #2F2F2F;
    width: 138px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #2F2F2F;
    margin-top: 20px;

}

#what-i-do-section{
    margin: 70px auto 0 auto ;
    max-width: 1158.69px;
}

.description-part-of-text{
    margin: 0 auto;
    max-width: 700px;
}

.description-part-of-text-elements{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #2858FF;
    text-align: center;
    margin: 0 auto;


}
#what-i-do-boxes-part{
    display: flex;
    margin-top: 45px;
}

.what-i-do-box{
    background-color: #FFFFFF;
    width: 340px;
    height: 291px;
    border-radius: 10;
    margin-right: 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 6px 2px 25px -9px #0000001A;

}

#projects-section{
    margin-top: 78px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.project-box{
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
}

.project-logo{
    width: 20%;
}

.project-box-text{
    width: 80%;
}


#pricing-section{
    margin: 70px auto 0 auto ;
    max-width: 1158.69px;
}
#pricing-boxes{
    margin-top: 20px;
    display: flex;
}

.pricing-box-1{
    background-color: #FFFFFF;
    width: 33%;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}

.pricing-box-2{
    background-color: #FFD748;
    width: 33%;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}

.service {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    color: #2858FF;
}

.price {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #000000;
}

.price-per-page{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.service-description{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
    margin-top: 8pxs
}

.service-benefits{
    padding: 0 0 0 10px;
    list-style: none;
    list-style-image: url(hakchen-setzen\ \(1\).png)
}

.service-benefits li {
    margin-bottom: 8px;
    color: #00000080;
}

.service-benefits.page2 li {
    margin-bottom: 8px;
    color: #000000;
}
.icon{
    display: inline;
}

.li-text{
    top:-2px; 
    position:relative;
}

.service-contact-button{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid #2F2F2F;
    background-color: #FFFFFF;
    color: #2F2F2F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.service-contact-button.button2{
    background-color: #2F2F2F;
    color: #FFFFFF
}

.service-contact-button.button2:hover{
    background-color: #FFFFFF;
    color: #2F2F2F;
}

.service-contact-button:hover{
    background-color: #2F2F2F;
    color: #FFFFFF
}

#footer{
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}